

.main-div-bottom {
    width: 70%;
     height: 100px;
    background-color: #27272a;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    

}


.change-button {
    height: 40px;
    width: 80px;
    border-radius: 8px;
    background-color: #65656b;
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
      font-family: "Datatype", monospace;

}

.span {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #65656b;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
      font-family: "Datatype", monospace;

    
}

.page-list {
    width: 350px;
    /* border: 1px solid red; */
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.button-pages {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #65656b;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
      font-family: "Datatype", monospace;
}