

.main-div {
    width: 70%;
     height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27272a;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 16px 16px;
    

}

.logo-div {
    width: 30%;
    height: 100px;
    text-align: center;
    /* border: 2px solid red; */
    
}



.search-container {

    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}


.search-input {

    font-size: 15px;
    width: 50%;
    border-radius: 8px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #18181b;
    border: 1px solid #626263;
    color: white;
}

.search-button {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    background-color: #65656b;
    border: none;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-div {
  position: relative;
  left: 20px;   /* right */
  top: 15px;     /* down */
}